.App {
  text-align: center;
}

.button {
  padding: 10px 20px;
  border: none;
  border: 1.5px solid #2bc28f;
  margin-top: 20px;
  border-radius: 3px;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  background-color: #2bc28f;
}

.input-style {
  font-family: inherit;
  font-size: 20px;
  padding: 5px;
}

::selection {
  background-color: #2bc28f;
  color: white;
}